.sidebar{

    width:240px;
    height:100vh;

    background:#111827;

    color:white;

    display:flex;
    flex-direction:column;

}

.logo{

    font-size:26px;

    font-weight:700;

    padding:25px;

    border-bottom:1px solid #374151;

}

nav{

    display:flex;

    flex-direction:column;

    padding:20px;

    gap:10px;

}

.nav-item{

    border:none;

    background:none;

    color:white;

    text-align:left;

    padding:14px;

    border-radius:8px;

    cursor:pointer;

    font-size:15px;

}

.nav-item:hover{

    background:#374151;

}

.active{

    background:#2563EB;

}

.logout{

    margin:auto 20px 20px;

    border:none;

    padding:14px;

    border-radius:8px;

    background:#DC2626;

    color:white;

    cursor:pointer;

}